table thead tr th {
  cursor: pointer;
  width: 23%;
}
table thead tr th:first-child {
  width: 8%;
}
.sort-desc:after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  border: 6px solid transparent;
  border-top: 6px solid black;
  vertical-align: bottom;
}
.sort-asc:after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  border: 6px solid transparent;
  border-bottom: 6px solid black;
  vertical-align: text-top;
}